@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  --black-color: #010202;
  --bleu-color: #14213d;
  --yellow-color: #fca311;
  --white-color: #ffffff;
  --gray-color: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  background: var(--gray-color);
}
article {
  margin: 5vh auto;
}
.navbar,
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  padding: 0 50px;
  background: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.navbar a{
  text-decoration: none;
  color: var(--black-color);
}
.menu li {
  cursor: pointer;
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid var(--white-color);
  transition: all 0.3s;
}
.menu li:hover{
  border-bottom: 1px solid var(--yellow-color);
}
.icon {
  fill: var(--yellow-color);
}
.conatiner_choce {
  width: 45vw;
  margin: 15vh auto 5vh auto;
}
.conatiner_choce form {
  display: flex;
  justify-content: center;
}
.input_search {
  border: 0;
  padding: 10px;
  width: 100%;
  background: var(--white-color);
}
.input_search:nth-child(2) {
  border-left: 1px solid var(--black-color);
  border-right: 1px solid var(--black-color);
}
.input_search:nth-child(4) {
  width: 100px;
  background: var(--yellow-color);
  cursor: pointer;
}
.input_search .icon {
  fill: var(--white-color);
  font-size: 25px;
}
.container_etat {
  margin: 10vh auto;
  width: 60vw;
  height: auto;
  display: flex;
  justify-content: center;
}

.card_etat {
  width: 260px;
  height: 360px;
  background: linear-gradient(
    150deg,
    var(--black-color) 60%,
    var(--white-color) 60%
  );
  border-radius: 22px;
  color: var(--white-color);
  margin: 15px;
  transition: all 0.3s;
}
.card_etat:hover {
  transform: translateY(-25px);
  width: 270px;
  height: 370px;
  margin: 10px;
 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.information {
  padding: 10px;
  position: relative;
  top: 75%;
  color: var(--black-color);
  text-align: end;
}
.affiche {
  text-decoration: none;
  color: var(--white-color);
  background: var(--yellow-color);
  padding: 4px 8px;
}
.fonctionnement {
  text-align: center;
  background: var(--white-color);
  padding: 5vh 0;
  margin: 5vh auto;
}
h2 span {
  color: var(--yellow-color);
}
.fonctionnement ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
}
.etape {
  width: 200px;

  margin: 25px;
  padding: 15px;
}
p {
  margin-top: 10px;
  font-size: 12px;
}
.container_proposition {
  display: flex;
  justify-content: center;
  width: 80%;
  overflow-y: scroll;
}
.card_voiture {
  display: grid;
  min-width: 200px;
  height: 250px;
  margin: 5px;

  background: var(--white-color);
}
.card_voiture:nth-child(1){
  display: none;
}
.card_voiture img {
  width: 100%;
}
.info_voiture {
  background: var(--white-color);
  padding: 7px;
}
.info_voiture div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_message {
  width: 5vw;
  border: 0;
  margin: 10px 45%;
  padding: 10px;
  background: var(--yellow-color);
  color: #FFF;
  border-radius: 12px;
  cursor: pointer;
}
.container_contact {
  width: 55vw;
  margin: 25px auto;
}
.container_contact form {
  display: grid;
}
.input {
  border: 1px solid var(--gray-color);
  border-radius: 12px;
  height: 45px;
  margin: 10px;
  background: #fff;
  padding: 10px;
  transition: all 0.3s;
  max-width: 55vw;
}
.input:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--yellow-color);
}

#bloc_nom_prenom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#bloc_nom_prenom div {
  display: grid;
  width: 50%;
}
.titre {
  font-size: 4vw;
  color: var(--black-color);
  text-align: center;
  margin-top: 10vh;
}
#toast {
  padding: 10px;
  padding-left: 5px;
  position: fixed;
  width: 230px;
  height: 50px;
  top: 0vh;
  left: 80%;
  transform: translate(-50%);
  background-color: #eff2ff;
  color: #76777e;
  padding: 1px;
  border-radius: 8px;
  text-align: center;
  z-index: 6;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

#toast.show {
  visibility: visible;
  animation: fadeInOut 3s;
}
.icon_message {
  padding-right: 15px;
  fill: var(--yellow-color);
}
@keyframes fadeInOut {
  5%,
  95% {
    opacity: 1;
    top: 50px;
  }

  15%,
  85% {
    opacity: 1;
    top: 30px;
  }
}
